<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <link rel="stylesheet" href="../static/css/me.css" >
</head>

<!--
   首页主要分为三个部分:
   - 导航栏
   - 文章列表
   - 底部栏
-->
<body>
    <!--导航栏主要包含7个部分内容
        - 博客的标志
        - 首页
        - 分类
        - 标签
        - 归档
        - 关于我
        - 搜索
    -->
    <!--
        inverted:底色反转，反转后底色为黑色
        attached：连接顶部，无间隔
    -->
    <nav id="nav" th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tf-minim-shadow-small">
    </nav>

    <!--中间内容-->
    <div  class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <!--header-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">搜索结果</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"> 14 </h2> 个
                    </div>
                </div>
            </div>

            <!--中间部分-->
            <div class="ui top attached teal segment">
                <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                    <div class="ui middle aligned mobile reversed stackable grid" >
                        <div class="eleven wide column">
                            <h3 class="ui header" ><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗?</a></h3>
                            <p class="m-text" th:text="|${blog.description}......|">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}"  alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}" >李仁密</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                                </div>
                            </div>
                        </div>

                        <div class="five wide column">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}"  alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--底部-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    </footer>

    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <!--/*/</th:block>/*/-->

<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    // 显示邮箱
    $('.email').popup();

    // 显示CSDN
    $('.csdn').popup();

    // 显示github
    $('.github').popup();

</script>
</body>
</html>